<!-- Start of page -->
<div data-role="page" id="screen-admin-landing">
    <div data-role="header" data-position="fixed">
        <!--<a href="#"-->
           <!--class="ui-naked-btn ui-btn ui-btn-icon-left ui-icon-carat-l ui-nodisc-icon ui-alt-icon ui-btn-icon-notext"-->
           <!--data-rel="back">Back</a>-->
        <h1>Savings</h1>
    </div>

    <div role="main" class="ui-content main-content">

        <div class="intro">
            <h3>Account created</h3>
        </div>

        <ul data-role="listview" data-inset="true">
            <li>
                <a href="#logging-time" class="ui-nodisc-icon ui-alt-icon">
                    <h3>Schemes</h3>
                    <span>Create, Manage, Delete...</span>
                </a>
            </li>
            <li>
                <a href="#software" class="ui-nodisc-icon ui-alt-icon">
                    <h3>Account</h3>
                    <span>Settings, Contact, Share...</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /content -->

    <!--<div data-role="footer" data-position="fixed">-->
    <!---->
    <!--</div>-->
</div>
<!-- /page -->