<!-- Start of page -->
<div data-role="page" id="screen-create-plan">
    <div data-role="header" data-position="fixed">
        <a href="#"
           class="ui-naked-btn ui-btn ui-btn-icon-left ui-icon-carat-l ui-nodisc-icon ui-alt-icon ui-btn-icon-notext"
           data-rel="back">Back</a>
        <h1>Savings</h1>
    </div>

    <div role="main" class="ui-content main-content">

        <div class="error-summary"></div>
        <form data-ajax="false" method="post" action="#screen-saving-plans" class="form" id="create-plan-form">
            <fieldset>
                <legend class="page-title ui-hidden-accessible">New plan</legend>

                <div class="row">
                    <label for="plan-name" class="ui-hidden-accessible">Name</label>
                    <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset ui-input-has-clear vl-input-text">
                        <input type="text" name="plan-name" id="plan-name" data-clear-btn="true"
                               data-enhanced="true" placeholder="Plan name" autocomplete="off" />
                        <a href="#" tabindex="-1" aria-hidden="true"
                           class="ui-input-clear ui-btn ui-nodisc-icon ui-alt-icon ui-icon-delete ui-btn-icon-notext ui-corner-all ui-input-clear-hidden"
                           title="Clear text">Clear text</a>
                    </div>
                </div>

                <div class="row">
                    <label for="duration" class="ui-hidden-accessible">Duration (months)</label>
                    <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset ui-input-has-clear vl-input-text">
                        <input type="text" name="duration" id="duration" data-clear-btn="true"
                               data-enhanced="true" placeholder="no. of months" autocomplete="off" />
                        <a href="#" tabindex="-1" aria-hidden="true"
                           class="ui-input-clear ui-btn ui-nodisc-icon ui-alt-icon ui-icon-delete ui-btn-icon-notext ui-corner-all ui-input-clear-hidden"
                           title="Clear text">Clear text</a>
                    </div>
                </div>

                <div class="row">
                    <label for="participants" class="ui-hidden-accessible">Participants</label>
                    <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset ui-input-has-clear vl-input-text">
                        <input type="text" name="participants" id="participants" data-clear-btn="true"
                               data-enhanced="true" placeholder="no. of participants" autocomplete="off" />
                        <a href="#" tabindex="-1" aria-hidden="true"
                           class="ui-input-clear ui-btn ui-nodisc-icon ui-alt-icon ui-icon-delete ui-btn-icon-notext ui-corner-all ui-input-clear-hidden"
                           title="Clear text">Clear text</a>
                    </div>
                </div>

                <div class="row">
                    <label for="start-date" class="ui-hidden-accessible">Duration (months)</label>
                    <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset ui-input-has-clear vl-input-text">
                        <input type="text" name="start-date" id="start-date" data-clear-btn="true"
                               data-enhanced="true" placeholder="start date" autocomplete="off" />
                        <a href="#" tabindex="-1" aria-hidden="true"
                           class="ui-input-clear ui-btn ui-nodisc-icon ui-alt-icon ui-icon-delete ui-btn-icon-notext ui-corner-all ui-input-clear-hidden"
                           title="Clear text">Clear text</a>
                    </div>
                </div>

                <div class="row">
                    <label for="end-date" class="ui-hidden-accessible">End date</label>
                    <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset ui-input-has-clear vl-input-text">
                        <input type="text" name="end-date" id="end-date" data-clear-btn="true"
                               data-enhanced="true" placeholder="end date" autocomplete="off" />
                        <a href="#" tabindex="-1" aria-hidden="true"
                           class="ui-input-clear ui-btn ui-nodisc-icon ui-alt-icon ui-icon-delete ui-btn-icon-notext ui-corner-all ui-input-clear-hidden"
                           title="Clear text">Clear text</a>
                    </div>
                </div>

                <div class="row">
                    <label for="end-date" class="ui-hidden-accessible">Amount</label>
                    <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset ui-input-has-clear vl-input-text">
                        <input type="tel" name="amount" id="amount" data-clear-btn="true" maxlength="2"
                               data-enhanced="true" placeholder="amount per person" autocomplete="off" />
                        <a href="#" tabindex="-1" aria-hidden="true"
                           class="ui-input-clear ui-btn ui-nodisc-icon ui-alt-icon ui-icon-delete ui-btn-icon-notext ui-corner-all ui-input-clear-hidden"
                           title="Clear text">Clear text</a>
                    </div>
                </div>


                <div class="row button-row">
                    <button class="ui-shadow ui-btn-inline ui-btn ui-icon-carat-r ui-btn-icon-right ui-nodisc-icon ui-alt-icon"
                            type="submit" id="submit-phone-number">Create
                    </button>
                </div>
            </fieldset>

        </form>
    </div>
    <!-- /content -->

    <!--<div data-role="footer" data-position="fixed">-->
    <!---->
    <!--</div>-->
</div>
<!-- /page -->