<!-- Start of page -->
<div data-role="page" id="screen-deleting-account">
    <div data-role="header" data-position="fixed">
        <!--<a href="#screen-admin-landing"-->
           <!--class="ui-naked-btn ui-btn ui-btn-icon-left ui-icon-carat-l ui-nodisc-icon ui-alt-icon ui-btn-icon-notext">Back</a>-->
        <h1>Coterie</h1>
    </div>

    <div role="main" class="ui-content main-content">
        <h2 class="page-title">Deleting account...</h2>
    </div>
    <!-- /content -->

    <!--<div data-role="footer" data-position="fixed">-->
    <!---->
    <!--</div>-->
</div>
<!-- /page -->