<!-- Start of page -->
<div data-role="page" id="screen-pin-code">
    <div data-role="header" data-position="fixed">
        <a href="#"
           class="ui-naked-btn ui-btn ui-btn-icon-left ui-icon-carat-l ui-nodisc-icon ui-alt-icon ui-btn-icon-notext"
           data-rel="back">Back</a>
        <h1>Coterie</h1>
    </div>

    <div role="main" class="ui-content main-content">

        <div class="error-summary"></div>
        <form data-ajax="false" method="post" action="#screen-admin-landing" class="form" id="pin-code-form">
            <fieldset>
                <legend class="page-title ui-hidden-accessible">4 Digit PIN</legend>

                <div class="row">
                    <label for="pin-code" class="ui-hidden-accessible">PIN code</label>

                    <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset ui-input-has-clear vl-input-text">
                        <input type="tel" name="pin-code" id="pin-code" data-clear-btn="true" class="focus" maxlength="4"
                               data-enhanced="true" placeholder="PIN code" autocomplete="off" />
                        <a href="#" tabindex="-1" aria-hidden="true"
                           class="ui-input-clear ui-btn ui-nodisc-icon ui-alt-icon ui-icon-delete ui-btn-icon-notext ui-corner-all ui-input-clear-hidden"
                           title="Clear text">Clear text</a>
                    </div>
                </div>

                <div class="row button-row">
                    <button class="ui-shadow ui-btn-inline ui-btn ui-icon-carat-r ui-btn-icon-right ui-nodisc-icon ui-alt-icon"
                            type="submit" id="submit-pin-code">Continue
                    </button>
                </div>
            </fieldset>

        </form>
    </div>
    <!-- /content -->

    <!--<div data-role="footer" data-position="fixed">-->
    <!---->
    <!--</div>-->
</div>
<!-- /page -->