<!-- Start of page -->
<div data-role="page" id="screen-saving-plans">
    <div data-role="header" data-position="fixed">
        <a href="#"
           class="ui-naked-btn ui-btn ui-btn-icon-left ui-icon-carat-l ui-nodisc-icon ui-alt-icon ui-btn-icon-notext"
           data-rel="back">Back</a>
        <h1>Savings</h1>
    </div>

    <div role="main" class="ui-content main-content">
        <h4 class="page-title">Saving plans</h4>
        <div style="text-align: center">
        <a href="#screen-create-plan" class="ui-shadow ui-btn-inline ui-btn ui-icon-carat-r ui-nodisc-icon ui-alt-icon"
           type="submit">Create a new plan</a>
        </div>

        <!--<h4 class="page-title">Existing plans</h4>-->
        <!--<ul data-role="listview" data-inset="true">-->
            <!--<li><a href="#plan" class="ui-nodisc-icon ui-alt-icon people-link">Saving Plan 1</a></li>-->
            <!--<li><a href="#plan" class="ui-nodisc-icon ui-alt-icon people-link">Saving Plan II</a></li>-->
            <!--<li><a href="#plan" class="ui-nodisc-icon ui-alt-icon people-link">Saving Plan Three</a></li>-->
            <!--<li><a href="#plan" class="ui-nodisc-icon ui-alt-icon people-link">Saving Plan 4</a></li>-->
            <!--<li><a href="#plan" class="ui-nodisc-icon ui-alt-icon people-link">5th Saving Plan</a></li>-->
        <!--</ul>-->
    </div>
    <!-- /content -->

    <!--<div data-role="footer" data-position="fixed">-->
    <!---->
    <!--</div>-->
</div>
<!-- /page -->