<!-- Start of Welcome screen -->
<div data-role="page" id="screen-welcome">
    <div data-role="header" data-position="fixed">
        <h1> </h1>
    </div>

    <div role="main" class="ui-content main-content">
        <h2 class="page-title">Savings</h2>

        <div class="error-summary"></div>
        <form data-ajax="false" method="post" action="#screen-phone-number" class="form" id="sign-in-form">
            <fieldset>

                <div class="row button-row">
                    <label for="submit-sign-in" class="ui-hidden-accessible">Create Account</label>
                    <button class="ui-shadow ui-btn-inline ui-btn ui-icon-carat-r ui-btn-icon-right ui-nodisc-icon ui-alt-icon"
                            type="submit" id="submit-sign-in">Create Account
                    </button>
                </div>
            </fieldset>

        </form>
    </div>
    <!-- /content -->

    <!--<div data-role="footer" data-position="fixed">-->
    <!---->
    <!--</div>-->
</div>
<!-- /page -->