<!DOCTYPE html>
<html>
<head>
    <title>Savings</title>
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no" />

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <meta name="apple-mobile-web-app-title" content="Savings">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="app-icon.png">

    <link rel="stylesheet" href="js/vendor/jquery.mobile-1.4.5.min.css"/>
    <link rel="stylesheet" href="css/savings.css"/>

    <script src="js/vendor/jquery-1.9.1.min.js"></script>
    <script src="js/vendor/jquery.mobile-1.4.5.js"></script>
    <script src="js/vendor/jquery.cookie.js"></script>
    <script src="js/savings.js"></script>

</head>
<body>

    {% include "partials/first-screen.html" %}
    {% include "partials/phone-number.html" %}
    {% include "partials/first-name.html" %}
    {% include "partials/last-name.html" %}
    {% include "partials/pin-code.html" %}
    {% include "partials/admin-landing.html" %}
    {% include "partials/saving-plans.html" %}
    {% include "partials/create-plan.html" %}
    {% include "partials/add-saver.html" %}
    {% include "partials/friends-family.html" %}
    {% include "partials/deleting-account.html" %}
    {% include "partials/plan-details.html" %}

</body>
</html>